<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recipe Finder</title>
    <link rel="stylesheet" href="/styles/recipe.css">
  </head>
  <body id="formbody">
    <h1 id="formh1">SEARCH FOR A RECIPE</h1>
    <form method="post" action="/recipe">
      <p id="whatcook">What do you want to cook?</p>
      <p><input name="query"></p>
      <p id="whatingreds">Using what ingredients?</p>
      <p><input name="ingreds"></p>
      <p><input type="submit" value="Find Recipes"></p>
    </form>
  </body>
</html>
