<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Recipe</title>
    <link rel="stylesheet" href="/styles/recipe.css">
  </head>
  <body>
    <section id="main">
    <p id="header">Here are your recipes</p>
    <!-- <section> -->
      {% for result in results.results %}
      <img id="thumbnail" src="{{ result.thumbnail }}">
        <section id="mini">
          <a id="title" href="{{ result.href }}">{{ result.title }}</a>
          <p id="ingredients">{{ result.ingredients }}</p>
          <p></p>
        </section>
      {% endfor %}
    <!-- </section> -->
    <p><a href="/">Search Again</a></p>
    </section>
  </body>
</html>
